body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card {
    width: 400px;
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.content {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.user {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

.delete-btn {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    color: red;
}